.CartWrapper {
  @extend %ModalWrapper;

  @media(min-width: 640px) {
    background-color: #8d2dea;
  }
}

.Cart {
  @extend %Modal;
}

.Cart-title {
  margin:         0;
  text-transform: uppercase;
  color:          #333;
  font-weight:    600;
  font-size:      28px;
}

.Cart-subtitle {
  margin: 0 0 30px;
}

.Cart-title > p {
  margin-top: 0;
}

.Cart-list {
  margin-bottom: 40px;
  padding:       0;
  border-top:    1px solid #e6e6e6;
  list-style:    none;
}

.Cart-item {
  padding:       15px 0;
  border-bottom: 1px solid #e6e6e6;
}

.Cart-empty {
  @media (max-width: 639px) {
    padding-top: 20px;
  }
}