.CartPreview {
  position:         fixed;
  z-index:          1;
  top:              0;
  left:             0;
  width:            100%;
  background-color: #8d2dea;
  color:            #fff;
}

.CartPreview-container {
  display:     flex;
  align-items: center;
  height:      80px;
  max-width:   1180px;
  margin:      0 auto;
  padding:     10px 20px;
}

.CartPreview-logo {
  flex-grow:  1;
  text-align: center;
}

.CartPreview-logoImage {
  height: 65px;
}

.CartPreview-back {
  flex-shrink: 0;
  width:       110px;
}

.CartPreview-checkout {
  flex-shrink: 0;
  width:       110px;
  text-align:  right;
}

.CartPreview-link {
  display:         inline-block;
  color:           #fff;
  text-decoration: none;

  &, &:hover {
    color: #fff;
  }

}

.CartPreview-icon {
  height:         17px;
  width:          20px;
  margin-right:   4px;
  margin-top:     -4px;
  vertical-align: middle;
  fill:           #fff;
}