.NavBar {
  position:         fixed;
  z-index:          1;
  top:              0;
  left:             0;
  width:            100%;
  background-color: $nav_bg_color;
  color:            #fff;
}

.NavBar-container {
  display:     flex;
  align-items: center;
  height:      80px;
  max-width:   1180px;
  margin:      0 auto;
  padding:     10px 20px;
}

.NavBar-logo {
  flex-grow:  1;
  text-align: center;
}

.NavBar-logoImage {
  height: 65px;
}

.NavBar-back {
  flex-shrink: 0;
  width:       110px;
}

.NavBar-account {
  flex-shrink: 0;
  width:       110px;
  text-align:  right;
}

.NavBar-link {
  position:        relative;
  display:         inline-block;
  color:           #fff;
  text-decoration: none;

  &, &:hover {
    color: #fff;
  }

  &--account {
    margin-right: 8px;
  }

}

.Navbar-cartQty {
  position:      absolute;
  z-index:       2;
  top:           -8px;
  right:         -8px;
  display:       block;
  box-sizing:    content-box;
  width:         20px;
  height:        15px;
  border:        1px solid #8d2dea;
  line-height:   15px;
  font-size:     12px;
  border-radius: 8px;
  background:    #ec652a;
  text-align:    center;
  overflow:      hidden;
}

.NavBar-icon {
  height:         17px;
  width:          20px;
  margin-right:   4px;
  margin-top:     -4px;
  vertical-align: middle;
  fill:           #fff;
}

@media (max-width: 420px) {

  .NavBar-back,
  .NavBar-account {
    width: 50%;
  }

  .NavBar-logo {
    position:    absolute;
    top:         40px;
    left:        50%;
    width:       106px;
    margin-left: -53px;
  }

  .NavBar-logoImage {
    height: 55px;
  }

}