
.Product {
  display:          flex;
  flex-direction:   column;
  width:            100%;
  padding:          10px 10px 20px;
  background-color: #fff;
  border-radius:    5px;

  color:            inherit;
  &, &:hover {
    text-decoration: none;
  }
}

.Product-image {
  padding-top:     56.25%;
  background:      #eaeaea 50% 20%;
  background-size: cover;
  border-radius:   2px;
}

.Product-info {
  text-align: center;
}

.Product-name {
  margin:      20px 0 10px;
  font-size:   15px;
  font-weight: 600;
}

.Product-description {
  margin:    0;
  padding:   0 10px;
  font-size: 13px;
  color:     #444;
}