.Products {
  @extend %Container;
  padding-top: 120px;
}

.Products-list {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
  padding:         0;
  margin:          0 0 0 -30px;
  list-style:      none;
}

.Products-item {
  display:   flex;
  width:     100%;
  max-width: 300px;
  padding:   0 0 30px 30px;
}