$desktop_container_max_width: 1280px;
$Container-h-padding: 40px;

%Container {
  max-width:  $desktop_container_max_width;
  margin:     0 auto;
  padding:    0 $Container-h-padding;
  list-style: none;

  @media (max-width: 639px) {
    padding: 0 15px;
  }
}

%ModalWrapper {
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  min-height:       100vh;
  padding:          100px 40px;
  background-color: #333;

  @media (max-width: 639px) {
    display:          block;
    padding:          0;
    background-color: #fff;
  }
}

%Modal {
  width:            100%;
  max-width:        760px;
  margin:           0 auto;
  padding:          40px;
  border-radius:    7px;
  background-color: #fff;

  @media (max-width: 639px) {
    padding:       20px;
    border-radius: 0;
  }
}