@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i';
@import "variables";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin:           0;
  font-family:      'Open Sans', sans-serif;
  font-size:        16px;
  background-color: #f7f7f7;
  overflow:         scroll;
}

body.main {
  padding: 0 0 100px;

  @media (max-width: 639px) {
    background-color: #fff;
    padding-top:      130px;
  }

  @media(min-width: 640px) {

    padding: 160px 40px 100px;

    &.products_page,
    &.product_page {
      background-color: #333;
    }
    &.checkout_page {
      background-color: $nav_bg_color;
    }
  }
}

// Variables & Mixins

@import "variables/variables";
@import "functions/functions";
@import "mixins/mixins";

// Reset & Base Styles

@import "normalize";
@import "base/base";

@import "components/Product";
@import "components/ProductList";
@import "components/ProductDetail";
@import "components/Cart";
@import "components/CartItem";
@import "components/NavBar";
@import "components/CloseButton";
@import "components/Form";
@import "components/Orders";
@import "components/OrderDetail";
@import "components/Section";
@import "components/Admin";
@import "components/Login";
@import "components/LoginForm";

.LogoutWarning {
  position:         fixed;
  z-index:          10000;
  top:              0;
  right:            0;
  bottom:           0;
  left:             0;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  align-items:      center;
  background-color: rgba(0, 0, 0, 0.8);
  color:            #fff;

  transition:       opacity 200ms ease;

  &.v-enter {
    opacity: 0;
  }
}

.LogoutWarning-text {
  font-size: 2.75em;
}

.LogoutWarning-button {
  padding:          1em 2em;
  border-radius:    4px;
  background-color: #08c;
  color:            #fff;
  cursor:           pointer;
}

.Button {
  display:        inline-block;
  margin:         0;
  cursor:         pointer;
  text-align:     center;
  vertical-align: middle;
  white-space:    nowrap;
  border:         0 none;
  border-radius:  5px;
  padding:        15px;
  line-height:    1;
  font-size:      16px;

  &--flush {
    width: 100%;
  }

  &,
  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none !important;
  }

  &:disabled,
  &[disabled],
  &.is-disabled {
    cursor:         not-allowed;
    pointer-events: none;
    opacity:        0.50;
    box-shadow:     none;
    text-shadow:    none;
  }

  &--primary,
  &--add-to-cart {
    background-color: #2a8cec;

    &,
    &:hover {
      color: #fff;
    }
  }

  &--order {
    background-color: #2a8cec;

    &,
    &:hover {
      color: #fff;
    }
  }

  &--cancel {
    background-color: #cc001d;

    &,
    &:hover {
      color: #fff;
    }
  }

}

.OptionList {
  display:    flex;
  flex-wrap:  wrap;
  margin:     0;
  padding:    0;
  list-style: none;
  font-size:  13px;
}

.OptionList-item {
  margin:           0 10px 10px 0;
  padding:          6px 10px;
  border:           1px solid #ccc;
  border-radius:    4px;
  cursor:           pointer;
  user-select:      none;
  background-color: #f3f3f3;
  color:            #333;

  &.is-selected {
    border-color:     #ec652a;
    background-color: #ec652a;
    color:            #fff;
  }

  &.is-disabled {
    opacity: 0.5;
    cursor:  default;
  }
}

//.ProductLayout {
//  display:    flex;
//  flex-wrap:  wrap;
//  max-width:  760px;
//  margin:     0 auto;
//  padding:    0;
//  list-style: none;
//}
//
//.ProductLayout-item {
//  width:   50%;
//  padding: 10px;
//}
//
//.Product {
//  background-color: #333;
//}
//
//.Product-image {
//  font-size:   0;
//  padding-top: 100%;
//}